<!-- <p>user-login works!</p> -->
<!doctype html>
<br><br><br>
<div align="center">
    <mat-card>

        <form [formGroup]="form" (ngSubmit)="onSavePost()">
            <b>Login/SignUp</b>
            <br>
            <mat-form-field>
                <input matInput type="email" formControlName="email" placeholder="Email">

                <mat-error *ngIf="form.get('email').invalid ">Please Enter the Valid Email</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="password" formControlName="password" placeholder="Password"><br>
                <mat-error *ngIf="form.get('password').invalid ">Please Enter the Correct Password</mat-error>

            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit">Login</button>
            <br><br>
            <button mat-raised-button color="primary" type="submit" routerLink="/user/signup">Sign Up</button>


        </form>
    </mat-card>
</div>