<app-nav-bar></app-nav-bar>
<br><br><br>
<div align="center">
    <mat-card>

        <form [formGroup]="form" (ngSubmit)="onSavePost()">
            <b>Create New Product</b>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name" [(ngModel)]="productDetail.name">
                <mat-error *ngIf="form.get('name').invalid ">Please Enter the Valid Product Name</mat-error>

            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>

                <input matInput formControlName="price" placeholder="Price" [(ngModel)]="productDetail.price"><br>
                <mat-error *ngIf="form.get('price').invalid ">Please Enter the Valid Price</mat-error>

            </mat-form-field>


            <br>
            <!-- 
            <div class="form-group">
                <label for="file">Upload Product Image</label><br>
                <input type="file" id="productImage" name="productImage" (change)="handleFileInput($event.target.files) ">
            </div>

            <div class="image-preview">
                <img src="http://localhost:3000/{{productDetail?.productImage}}">
            </div> -->


            <br>

            <button mat-raised-button color="primary" type="submit ">Update Product</button>

        </form>
    </mat-card>
</div>